
/* Credit Card Check - CSS */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #fafbfc;
}

.container {
	margin: 0 2px;
	padding: 0;
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
}

.col-6 {
	max-width: 600px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
	background: #fff;
	text-align: center;
	
	/* Vendor prefix for border-radius */
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	-o-border-radius: 1%; 
	-ms-border-radius: 1%;
	border-radius: 1%;

	/* Vendor prefix for box-shadow */
	-webkit-box-shadow: 0px 10px 15px 0px rgba(153,153,153,0.5);
	-moz-box-shadow: 0px 10px 15px 0px rgba(153,153,153,0.5);
	-o-box-shadow: 0px 10px 15px 0px rgba(153,153,153,0.5);
	-ms-box-shadow: 0px 10px 15px 0px rgba(153,153,153,0.5);
	box-shadow: 0px 10px 15px 0px rgba(153,153,153,0.5);
}

.header {
	margin-top: 10px;
}

.form-container {
	width: 100%;
	margin: 50px;
	padding-bottom: 10px;
}

.form-input-text-size {
	width: 500px;
}

.form-group-flex {
    /* Vendor prefix for flex*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.form-input-expiry-size {
	max-width: 80px;
}

.form-input-csv-size {
	margin-left: 20px;
	max-width: 100px;
}

.form-button-align {
	width: 100%;
	text-align: right;
	position: relative;
}

.btn-align-submit {
	position: absolute;
	top: 0;
	right: 100px;
}

/* Break Point 1: Media query break point for Tablet */
@media only screen and (max-width: 800px) {
 	.col-6 {
		max-width: 500px;
 	}

 	.form-input-text-size {
		width: 400px;
	}

	.form-input-cvv-size {
		margin-left: 20px;
		max-width: 80px;
	}

	.form-input-expiry-size {
		max-width: 65px;
	}
}

/* Break Point 2: Media query break point for Mobile */
@media only screen and (max-width: 600px) {
 	.col-6 {
 		width: 400px;	
 		margin-top: 10px;
 		margin-left: 0;	
	}

 	.form-input-text-size {
		max-width: 300px;
	}

	.form-container {
		margin-left:30px;
	}
}

